*,
::after,
::before {
  box-sizing: border-box;
}

img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}

.page-header {
  display: flex;
  width: auto;
  height: 70px;
  background-color: #313131;
}

.architect-logo{
  display: flex;
  justify-content: flex-start;
}

.logo-link{
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;;
}
.logo{
  float: left;
  margin: 22px;
  

}

.text-logo{
  float: right;
}

.nav-part{
 
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.menu-list{
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 28px;
}

.menu-item{
  padding-left: 35px;
}
.menu-link{
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.menu-link:hover{
  color: #14B9D5;
}

.search{
  background-color: #000;
  width: 68px;

}
.search-link{
  margin: 0;
  padding: 0;
}
.search-logo{
 margin: 24px
}

.intro {
  background-image: url(../Images/header-bg.png);

  background-position: center;
  background-size: cover;
  width: auto;
  padding-top: 185px;
  padding-bottom: 185px;

  margin: 0;
}

.intro-slogan {
  color: #ffffff;
  text-align: center;
  margin: 0;
  width: auto;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
}

.intro-buttons {
  display: flex;
  justify-content: center;

  margin-top: 44px;
}

.subscribe-button {
  background-color: #89ca62;
  padding: 16px;
  margin-right: 20px;
  border: 1px solid #89ca62;
  border-radius: 3px;
  text-align: center;
}


.article-button {
  background-color: #14b9d5;
  padding: 16px;
  border: 1px solid #14b9d5;
  border-radius: 3px;
  text-align: center;
}

.button {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding-left: 19px;
  padding-right: 19px;
}


.page-main {
  width: auto;
  height: auto;
}
.main-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
  padding-bottom: 42px;
}

.subtitle-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #18b4cf;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  margin: 0;
  padding-bottom: 52px;
  padding-top: 49px;
  text-transform: uppercase;
}

.most-popular-projects {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column wrap;
  width: auto;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

.project {
  background-color: #ffffff;
  width: 370px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.description {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-decoration: none;
}

.our-most-popular-clients-img {
  background-image: url(../Images/our\ most\ popular\ clients\ bg.JPG);
  background-size: cover;
  width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
  
  background-attachment: fixed;
  
}

.most-popular-clients-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
 
  margin: 0;
}
.section-header {
  position: relative;
}

.section-header::after {
  content: "";
  height: 3px;
  width: 60px;
  background: #18B4CF;
  position: absolute;
  left: calc(50% - 30px);
  bottom: -48px;
}


.subtext-line {
  width: 60px;
  height: 2px;
  background-color: #18b4cf;
  border: none;
  margin-top: 87px;
}

.clients-list {
  display: grid;
  justify-content: center;
  list-style: none;
  grid-template-columns: 207px 150px 232px 141px;
  gap: 58px;
  width: auto;

  margin-left: auto;
  margin-right: auto;
  margin-top: 107px;
  padding: 0;
}

.clients {
  display: grid;
  align-items: center;
}
.project-link {
  text-decoration: none;
}

.top-rated-content{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.top-rated-list{
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  margin-left: auto;
 
}


.hot-news-content{
  display: grid;
  grid-template-columns: 277px 242px 242px 277px;
  grid-template-rows: 259px 416px 416px 259px;
  justify-content: center;
  align-content: center;
  
  grid-column-gap: 35px;
  grid-row-gap: 35px;

}
.hot-news-project{
  background-color: #F9F7F7;
  width: auto;
  margin-right: 25px;

  
}
.project-first{
grid-area: 1 / 1 / 2 / 4; 
float: left;  
margin-right: 0;
}

.project-second{
   grid-area: 1 / 4 / 2 / 5; 
  display: flex;
  justify-self: end;
}
.project-third{
   grid-area: 2 / 1 / 3 / 3; 
   
   
}

.project-fourth{
   grid-area: 2 / 3 / 3 / 5; 
   
   

}

.project-fifth{
   grid-area: 3 / 1 / 4 / 3; 
   
   
}
.project-sixth{
   grid-area: 3 / 3 / 4 / 5; 
   
   
}

.project-seventh{
   grid-area: 4 / 1 / 5 / 2; 
   margin: 0;
   
}

.project-eights{
  grid-area: 4 / 2 / 5 / 5; 
  margin-right: 0;
}



.hot-news-img{
  float: left;
}
.hot-news-text-first{
  text-align: end;
  width: 330px;
  margin: 0;
  float: right;
  padding-top: 15px;
  
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
}

.hot-news-text-eight{
  text-align: end;
  width: 350px;
  margin: 0;
  float: right;
  padding-top: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
}

.hot-news-link{
  text-decoration: none;
}
.hot-news-text{
  text-align: end;
  margin: 0;
  padding-top: 15px;
  margin-right: 14px;
  font-weight: 600;
   font-size: 14px;
   line-height: 21px;
  color: #5B6469;

}
.hot-news-title{
  text-align: end;
  margin: 0;
  padding: 0;
  margin-right: 14px;
  padding-top: 10px;
font-weight: 700;
font-size: 18px;
line-height: 25px;
  color: #353A3D;
}
.hot-news-title-first{
  padding-top: 41px;
  text-align: end;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #353A3D;
  margin: 0;
  margin-right: 24px;
  float: right;
}
.hot-news-title-eights{
  padding-top: 41px;
  text-align: end;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #353A3D;
  margin: 0;
  padding-right: 24px;
}
.hot-news-text-eight{
  padding-right: 10px;
  width: 330px;
}
.hot-news-title-no-text{
  text-align: center;
  margin: 0;
}

.footer-copyright{
  margin-top: 77px;
  background-color: black;
  width: 100%;
}
.container{
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.copyright{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 480px 300px;
  grid-template-rows: 80px;
}

.copyright-text{
  color:#FFFFFF;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 13px;
  line-height: 13px;
}

.copyright-item-lioit-logo{
  display: flex;
justify-self: flex-end;
margin-top: 35px;
}

.header-menu-link:hover{
  color: #14B9D5;
}

