 body{
      background: #090907;
        font-family: 'Roboto';
        overflow: hidden;
        
} 
.wrapper{
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    perspective: 420px;
}

.scroll-text{
    color: #ffc909;
    font-size: 3vw;
    font-weight: bold;
    line-height: 2em;
    position: absolute;
    animation: scroll 30s linear forwards infinite;
}

.episode-num{
    text-align: center;
}

.title{
    text-align: center;
    
}

@keyframes scroll{
    from{
        top: 500px; 
        transform: translateZ(0) rotateX(20deg);
        
    }
    to{
        top: -5500px;
        transform: translateZ(-2500px) rotateX(20deg);
    }
}