.background-image{
    background-image: url(../Images/background-image.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

.page-header{
    width: 100%;
}
.header-section{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0%, 0%, 0%, 40%);
    margin: 0;
    padding: 0;
    
}

.header-logo{
    margin: 0;
    margin-left: 79px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 0;
}

.logo-link{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
}

.logo-link:hover{
    color: #1e6d45;
}

.header-list{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    margin-top: 18px;
    margin-bottom: 18px;
    float: left;
    margin-right: 25px;
}

.header-item{
    padding-left: 25px;
    padding-top: 4px;
    margin: 0;
}

.header-icon:hover{
    fill: #1e6d45;
}

.header-right-section{
    display: flex;
    justify-content: end;;
    margin: 0;
    margin-right: 79px;
    position: relative;
}

.header-text{
    
    text-align: center;
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 25px;
}

.header-text::before{
    content: "";
    height: 19px;
    width: 1px;
    background: #FFFFFF;
    
    position: absolute;
    left: 166px;
    
    opacity: 50%;
 
}

.header-log-in-sign-up-link{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.header-log-in-sign-up-link:hover{
    color: #1e6d45;
}

.container{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 31px;
}    

.page-main{
    width: 444px;
    height: 615px;
    background-color: #FFFFFF;
     margin: auto;
     margin-top: 54px;
     box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.sign-up-or-log-in{
    display: flex;
    justify-content: space-between;
}

.sign-up-title{
    font-family:'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-display: swap;
    margin: 0;
    margin-top: 31px;
    margin-bottom: 12px;
    color: #434343;
    position: relative;
}


.sign-up-title::before{
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    /* top: 8px; */
    left: -60px;
}



.log-in-title{
    margin: 0;
    margin-top: 31px;
    margin-bottom: 12px;
}
.log-in-link{
    font-family:'Ubuntu', sans-serif;  
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
    font-display: swap;
}
.log-in-link:hover{
    text-decoration: underline;
    color: #01813F;
}

.social-media-buttons{
    display: grid;
    grid-template-columns: 160px 160px;
    column-gap: 4px;
    
}

.fb-button{
    display: flex;
    justify-content: space-between;
    background-color: #305DB8;
    border: none;
    border: 1px solid #305DB8;
    border-radius: 2px;
    padding-left: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    cursor: pointer;

}

.fb-button:hover{
    background-color: #022263;
}

.fb-text{
    display: flex;
    align-self: center;
    font-family:'Ubuntu', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    margin-right: 22px;
    margin-left: 18px;
}

.fb-text::before{
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    position: absolute;
    opacity: 10%;
    top: 10px;
    left: 45px;
}

.gplus-button{
    display: flex;
    justify-content: space-between;
    background-color: #DF4A32;
    border: none;
    border: 1px solid #DF4A32;
    border-radius: 2px;
    padding-left: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    cursor: pointer;
}
.gplus-button:hover{
    background-color: #AB1F09;
}
.gplus-text{
    display: flex;
    align-self: center;
    font-family:'Ubuntu', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    margin-right: 22px;
    margin-left: 18px;
    font-display: swap;
}

.gplus-text::before{
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    position: absolute;
    opacity: 10%;
    top: 10px;
    left: 54px;
}

.or-section{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    color: #848484;
    font-size: 14px;
    line-height: 14px;
    margin-top: 31px;
}

.or-section::before{
    content: "";
    width: 152px;
    height: 1px;
    background: #f2f2f2;
    position: absolute;
    top: 8px;
    left: -2px;
}

.or-section::after{
    content: "";
    width: 152px;
    height: 1px;
    background: #f2f2f2;
    position: absolute;
    top: 8px;
    right: -2px;
}

.sign-up-form{
    display: grid;
    grid-template-columns: 160px 160px;
    grid-auto-rows: auto;
    row-gap: 15px;
}

.text-input-field{
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-top: 16px;
    padding-left: 19px;
    padding-bottom: 16px;
    border: none;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
}
.text-input-field:focus{
    outline: none;
    box-shadow: 0px 4px 18px rgb(0, 0, 0);
    opacity: 21%;
}

.text-input-field::placeholder{
    font-family: Ubuntu;
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
   
}
.terms{
    grid-column-start: 1;
    grid-column-end: 3;
}

.create-account-button{
    grid-column-start: 1;
    grid-column-end: 3;
}

.terms{
    font-family: 'Ubuntu', sans-serif;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
}

.checkbox{
    margin-right: 8px;
    
}

.checkbox-link{
    text-decoration: none;
    color: #3CB878;
    margin-bottom: 20px;
}

.checkbox-link:hover{
    text-decoration: underline;
    color: #01813F;
}

.create-account-button{
    background-color: #01813F;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;

}