*,
::after,
::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}
img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}

.background-img{
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    
}

.container{
    max-width: 1023px;
    margin-right: auto;
    margin-left: auto;
}

.page-header{
    padding-top: 51px;
    margin-bottom: 26px;
}

.header-section{
    display: flex;
    justify-content: space-between;
}
.logo-and-text{
    display: flex;
    

}
.text-logo{
    text-transform: uppercase;
    width: 80px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}
.style-for-milan{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    }

.logo{
    float: left;
}

.logo-link{
    display: flex;
    text-decoration: none;
    color: #fff;
    width: auto;
}
.contact-information{
    width: 210px;
    text-align: end;
}

.email{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 19px;
}

.phone-number{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}

.page-main{
    margin-bottom: 49px;
}
.offer-list{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: minmax(max-content, auto) minmax(max-content, auto);
    list-style: none;  
    column-gap: 61px;
    row-gap: 37px;
    padding: 0;
    margin: 0;
}
.offer-link{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}
.offer-img{
    border: 1px solid;
   
    border-image-source: repeating-linear-gradient(#fff, #000 );
      border-image-slice: 1;
}



.offer-name{
    width: 300px;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

.page-footer{
    padding-bottom: 15px;
}

.copyright{
    text-align: center;
    color: #fff;
    
}


.logo-link:hover{
    color: #F26522;
}

.email:hover{
    color: #F26522;
}

.phone-number:hover{
    color: #F26522;
}

.offer-price{
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 10px;
    line-height: 10px;
    margin-top: 7px;
    margin-left: 16px;
}

.price{
    font-size: 20px;
    line-height: 20px;
    padding-top: 8px;
}

.view-details-link{
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 12px;
}
.view-details-link::after{
    content: url(../images/Vector\ 1.svg);
    margin-left: 16px;
    margin-top: 1px;
}

.offer-item{
    position: relative;
    
}

.price-and-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 165px;
    left: 0;
    background-color: #F26522;
    height: 55px;
    width: 100%;
    display: none;
}

.offer-item:hover .price-and-details{
    display: grid;

}

.offer-item:hover .offer-name{
    color: #F26522;
}

.logo:hover{
    display: none;
}


.orange-logo{
    display: none;
}

.logo-and-text:hover .orange-logo{
    display: block;
}

.logo-and-text:hover .logo{
    display: none;
}
