*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}

.page_header{
    padding: 0;
    
    margin: 0%;
}
.container{
    max-width: 1280px ;
    margin: 0 auto;
    
}
.menu{
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    margin-left: 330px;
    display: inline-block;
    padding-left: 0;

}

.menu_item{
    display: inline-block;
    margin-left: 72px;
    }
.menu_link{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
}

.title_text{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    margin-top: 48px;
    margin-left: 253px;
    margin-right: 253px;
    margin-bottom: 38px;
}

.content_text{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #373737;
}

.text{
    margin-top: 28px;
}



.get_started_button{
    margin-top: 66px;
    margin-bottom: 82px;
    margin-left: auto;
    margin-right: auto;
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
}

.link_button{
    text-align: center;
    display: inline-block;
    color: #FFFF;
    margin-top: 18px;
    margin-left: 42.5px;
    margin-right: 43.5px;
    margin-bottom: 17px;
    width: 105px;
    height: 16px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;

}

.page_footer{
    padding: 0%;
    padding-bottom: 29px;
    padding-right: 105px;
    text-align: right;
    
}

.copyright{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #373737;
   
}
