*,
::after ::before {
  box-sizing: border-box;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}
.logo {
  display: flex;
  padding-left: 98px;
  margin-top: 63px;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.mdajs-blue-color {
  color: rgb(0, 195, 255);
}

.page-header {
  width: 1280px;
}

.nav-bar {
  width: 1280px;
  height: 72px;
  margin-left: 98px;
}

.header-menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  border: 1px solid #35444f;
  background-color: #35444f;
  width: 1280px;
  height: 72px;
}

.header-menu-item {
  padding-top: 26px;
  padding-bottom: 19px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  vertical-align: middle;
  text-align: center;
}

.header-menu-link {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 24px;
}

.page-main-content {
  display: flex;
  justify-content: top;
}

.page-aside {
  display: flex;
  justify-content: center;
}

.aside-menu-list {
  list-style: none;
  width: 344px;
  height: 394px;
  margin-top: 48px;
  margin-left: 100px;
  border: 1px solid #000000;
  padding: 0;
}

.aside-menu-item {
  width: 304px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 40px;
}

.aside-menu-link {
  text-decoration: none;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}

.main-img-section {
  width: 920px;
  height: 529px;
  margin-left: 52px;
  margin-top: 48px;
  border: 1px solid #000000;
}

.main-page-img {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 381px;
  padding-top: 75px;
  padding-left: 297px;
  padding-right: 297px;
  padding-bottom: 75px;
}

.main-text-section {
  width: 920px;
  height: 120px;
  margin-left: 500px;
}
.main-page-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #2c2c2c;
}

.page-footer {
  width: 1280px;
  margin-left: 98px;
}

.footer-menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 1280px;
  height: 69px;
  border: 1px solid #63696e7a;
  background-color: #63696e7a;
}

.footer-menu-item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.footer-menu-link {
  text-decoration: none;
  color: #0c1927;
  font-size: 28px;
  line-height: 28px;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 135px;
  padding-right: 40px;
  text-decoration: none;
  color: #0c1927;
  font-size: 24px;
  line-height: 24px;
}

.top-button:hover {
  background: #222f3a;
}

.left-button:hover {
  background: #dbdbdb;
}

.aside-link:hover {
  padding-left: 38px;
  color: #000;
}

.bottom-button:hover {
  border-bottom: 1px solid rgb(12, 108, 153);
  padding-bottom: 13px;
  color: rgb(12, 108, 153);
}

.zoom-img {
  transition: 0.5s;
}
.zoom-img:hover {
  transform: scale(1.2);
}
